<template name="shutterButton">
	{{#if isCameraActive}}

		{{#if previewMode}}
			<div class="btn-group btn-group-lg">
      			<button type="button" class="btn btn-lg btn-default save-gif">
      				<span class="glyphicon glyphicon-thumbs-up"></span> Looks good</button>
				<button type="button" class="btn btn-lg btn-default reset">
					<span class="glyphicon glyphicon-thumbs-down"></span> Try again</button>
      		</div>
		{{/if}}

		{{#if canTakePictures}}
			<button type="button" class="get-pic btn btn-default btn-lg">
				<span class="glyphicon glyphicon-camera"></span>
			</button>
		{{/if}}
	{{else}}
		<button type="button" class="get-camera btn btn-default btn-lg">
			<span class="glyphicon glyphicon-facetime-video"></span>
		</button>
	{{/if}}
</template>